body {
  color: #333;
  background-color: #0f0a0a;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body {
  background-color: #0f0a0a;
}

.animation {
  text-align: center;
}

.text-block {
  padding: 30px;
}

.front-text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 479px) {
  .animation {
    display: flex;
  }
}
